---
const astroPosts = [
  {
    title: "The Sun is EXPLODING 😱",
    date: "2022-07-03",
    imageSrc: "/sun-exploding.webp",
    altText: "Post 1",
    link: "/posts/post-one/",
  },
  {
    title: "Black Holes: The End of Time?",
    date: "2022-07-02",
    imageSrc: "/blackhole.jpg",
    altText: "Post 2",
    link: "/posts/post-two/",
  },
  {
    title: "Gravity: Force or Field?",
    date: "2022-07-01",
    imageSrc: "/earth-gravity.webp",
    altText: "Post 3",
    link: "/posts/post-three/",
  },
];
---

<ul>
  {
    astroPosts.map((post, index) => (
      <li class="blog">
        <a href={post.link} class="blog-title">
          <h2 class="blog-title">{post.title}</h2>
        </a>
        <p class="date">{post.date}</p>
        <a href={post.link} class="blog-title">
          <img
            src={post.imageSrc}
            alt={post.altText}
            width="90%"
            class="post-thumbnail"
          />
        </a>
      </li>
    ))
  }
</ul>

<style>
  h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
    color: rgb(252, 216, 255);
  }

  .blog-title:hover {
    color: #5f2aa0;
    cursor: pointer;
  }

  .post-thumbnail {
    width: 600px;
    height: auto;
    border: 0px solid rgba(252, 216, 255, 0.1);
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
  }

  .post-thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 2px 15px 15px 15px rgba(0, 0, 0, 0.3);
  }

  @media screen and (max-width: 700px) {
    .post-thumbnail {
      width: 300px;
      height: auto;
    }
    .blog-title {
      font-size: 1.2rem;
    }
  }
</style>
